body{
    background-color: khaki;

      
}
form{
    background-color: khaki;
    color: white;
    width: 50%;
    margin: 50px auto;
    padding: 50px;
    box-sizing: border-box;
    display: flex;

      
}

h1{
    text-align: center;
    font-size: 50px;
}
#input{
    box-sizing: border-box;
    width: 75%;
    height: 25px;
    padding-left: 25px;
}
#add-item{
    height: 25px;
    width: 25%;
    background-color: red;
    color: white;
    border-style: none;
}