body{
    background-color: khaki;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;    
    display: flex; 
}

.container{
    background-color: #fff;
    border-radius: 16px;
    padding: 25px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 50px;
}

form{
    margin-bottom: 20px;
    gap: 10px;
    display: flex;    
}

#input{
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
    padding-left: 100px;
}
#input :focus{
    border-color: #5a8dee;
}


#add-item{
    padding: 10px 16px;
    font-size: 16px;
    background-color: #eeab5a;
    color: white;
    border-style: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    color:#b97f14;
}

li {
    background-color: #ba8324;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    position: relative;
    
}

li:hover{
    background-color: rgb(211, 230, 99);
}


.delete-btn{
    position: absolute;
    right: 10px;
    background-color: rgb(211, 230, 99);
    color: #333;
    border-radius: 5px;
    border-bottom: #333;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover{
    background-color: #ba8324;
}